   *{  
    padding:0px;
    margin:0px;

     }
        body{
            background-color:#222;
            
        }
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        width:100%;
        font-family:arial;
        size:18pt;
    }
     .form{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:30%;
        background-color: #555;
        padding:10px;
        margin-top:100px;
        height: 60vh;
        border-radius: 20px;
        
     }
    .input{
        padding: 10px;
        margin: 10px;
        width: 80%;
        background-color:#222;
        border:none;
        color:#fff;
    }
    .select{
     width:85%;
     padding:10px;
     margin:10px;
     background-color:#222;
     color:#fff;
     border:none;
    }
    .button{
        width:85%;
        margin-top:20px;
        padding:10px;
        background-color:#3db372;
        color:#222;
        font-size:12pt;
        font-family: verdana;
        border-radius:15px;
    }
    .resultado{
        width:100%;
        text-align:center;
        border-top:20px solid #222;
        padding:10px;
        margin:20px;
        color:#36cbd6;
        font-size:18pt;
        text-decoration:underline;
    }
    .h3{
        width:100%;
        text-align:center;
        padding:10px;
        border-bottom:20px solid #222;
        text-decoration:underline #36cbd6;
    }
